<h1>Products#show</h1>
<h2>Title</h2>
<%= @product.title %>
<h3>Description</h3>
<%= @product.description %>
<h3>Price</h3>
<%= @product.price %>
<h3>Stock Quantity</h3>
<%= @product.stock_quantity %>